<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
    </div>

    <h1>subtitulo: {{subtitle}}</h1>
    <h1>Acerca de mi: {{body}}</h1>
    <img src="img/node.png" alt="node image">

    {{>footer}}
</body>

</html>